/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
}

.layout {
    display: flex;
    width: 100%;
    height: 100vh;
}
.layout p{
    display: block;
    /* position: relative;  */
    height: 2em;
}
.layout span{
    position: absolute;
    opacity: 0;
    animation: showSpan 2.5s forwards;
}
@keyframes showSpan {
    0%, 20%{opacity: 0;}
    20%, 50%{opacity: 1;}
    50%, 100%{opacity: 0;}
    
}
.layout span:nth-child(2){
    animation-delay: 2.5s;
}
/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    transition: transform 0.3s ease; /* Animation for logo */
}

header .logo h1:hover {
    transform: scale(1.1); /* Slight scaling on hover */
}
/* Style pour le conteneur du logo */
.logo {
    position: relative;
    width: 100px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: 100px; /* Assurez-vous que la hauteur soit proportionnelle */
    flex-shrink: 0;
}

/* Style pour l'image du logo avec pseudo-élément */
.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('logo2.jpeg') no-repeat center center;
    background-size: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol */
.logo:hover::before {
    transform: scale(1.1); /* Agrandit légèrement le logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au logo */
}

/* Style pour le conteneur du logo */
.logo {
    position: relative;
    width: 100%; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: 150px; /* Assurez-vous que la hauteur soit proportionnelle */
    flex-shrink: 0;
}

/* Style pour l'image du logo avec pseudo-élément */
.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('logo2.jpeg') no-repeat center center;
    background-size: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol */
.logo:hover::before {
    transform: scale(2.2); /* Agrandit légèrement le logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au logo */
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for links */
}

nav ul li a:hover {
    color: #007BFF;
    transform: scale(1.1); /* Slight scaling on hover */
}

main {
    margin-left: 20%;
    width: 80%;
    overflow-y: auto;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

section h2 {
    margin-top: 0;
    text-align: center;
}

/* Section Home */
#home {
    background: url('../img/img/IMG-01.jpg') no-repeat center center fixed; /* Image de fond en mode parallax */
    background-size: cover; /* Couvrir toute la section */
    color: #fff; /* Texte en blanc */
    padding: 20px; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.parent{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.skills{
    margin-top: 40px;
}


#home .container {
    position: relative; /*Position relative pour le conteneur */
    z-index: 2; /*Assurer que le contenu est au-dessus de l'image de fond */
} 

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Couche sombre pour le contraste */
    z-index: 1;
}

#home .profile-pic img {
    border-radius: 10%; /* Image en cercle */
    width: 400px; /* Largeur de l'image */
    height: 650px; /* Hauteur de l'image */
    border: 5px solid #fff; /* Bordure blanche autour de l'image */
    margin-bottom: 7px; /* Espacement inférieur */
}
.profil{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
#home h2 {
    font-size: 2em; /* Taille du texte */
    margin-bottom: 20px; /* Espacement inférieur */
}

#home p {
    font-size: 1.2em; /* Taille du texte */
    margin-bottom: 40px; /* Espacement inférieur */
    max-width: 600px; /* Largeur maximale du texte */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
}

#home ul {
    list-style-type: none; /* Pas de puces pour la liste */
    padding: 0; /* Pas d'espacement intérieur pour la liste */
    display: flex; /* Utiliser flexbox */
    justify-content: center; /* Centrer les éléments de la liste */
    gap: 20px; /* Espacement entre les éléments */
}

#home ul li {
    background: rgba(255, 255, 255, 0.2); /* Fond semi-transparent pour les compétences */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 5px; /* Bordures arrondies */
    transition: background 0.3s; /* Transition pour l'effet de survol */
}

#home ul li:hover {
    background: rgba(255, 255, 255, 0.4); /* Fond légèrement plus clair au survol */
}

/* Section Portfolio */
#portfolio {
    background-color: #e0e0e0; /* Couleur de fond pour la section */
    color: #333; /* Couleur du texte */
    padding: 50px 0; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
}

#portfolio h2 {
    font-size: 2em; /* Taille du texte pour le titre */
    margin-bottom: 40px; /* Espacement inférieur */
    color: #333; /* Couleur du titre */
}

#portfolio .projects {
    display: flex; /* Utiliser flexbox pour les projets */
    flex-wrap: wrap; /* Permettre le retour à la ligne pour les projets */
    justify-content: center; /* Centrer les projets horizontalement */
    gap: 20px; /* Espacement entre les projets */
}

#portfolio .project {
    background-color: #fff; /* Couleur de fond pour chaque projet */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet de profondeur */
    overflow: hidden; /* Assurer que le contenu reste à l'intérieur des bordures arrondies */
    width: 350px; /* Largeur fixe pour chaque projet */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition pour l'effet de survol */
}

#portfolio .project img {
    width: 100%; /* Image couvrant toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    display: block; /* Assurer que l'image est un bloc */
}

#portfolio .project p {
    padding: 20px; /* Espacement intérieur pour le texte */
    font-size: 1em; /* Taille du texte */
    color: #333; /* Couleur du texte */
}

#portfolio .project:hover {
    transform: translateY(-10px); /* Légère translation vers le haut au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

/* Section Expériences */
#experiences {
    background-color: #cccccc; /* Couleur de fond pour la section */
    color: #333; /* Couleur du texte */
    padding: 50px 0; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
}

#experiences h2 {
    font-size: 2em; /* Taille du texte pour le titre */
    margin-bottom: 40px; /* Espacement inférieur */
    color: #333; /* Couleur du titre */
}

#experiences ul {
    list-style: none; /* Enlever les puces de la liste */
    padding: 0; /* Enlever le padding */
    text-align: left; /* Alignement du texte à gauche */
    max-width: 800px; /* Largeur maximale de la liste */
    margin: 0 auto; /* Centrer horizontalement la liste */
}

#experiences li {
    background-color: #fff; /* Couleur de fond pour chaque expérience */
    margin-bottom: 20px; /* Espacement inférieur entre les éléments */
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet de profondeur */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition pour l'effet de survol */
}

#experiences li:hover {
    transform: translateY(-10px); /* Légère translation vers le haut au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

#experiences h3 {
    margin: 0 0 10px; /* Espacement pour le titre des expériences */
    font-size: 1.5em; /* Taille du texte pour les titres des expériences */
}

#experiences p {
    margin: 10px 0; /* Espacement pour les paragraphes */
    color: #666; /* Couleur du texte pour les descriptions */
}

/* Section Services */
#services {
    background-color: #cccccc; /* Couleur de fond pour la section */
    color: #333; /* Couleur du texte */
    padding: 50px 0; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
}

#services h2 {
    font-size: 2em; /* Taille du texte pour le titre */
    margin-bottom: 40px; /* Espacement inférieur */
    color: #333; /* Couleur du titre */
}

.service {
    display: flex; /* Affichage en flex */
    justify-content: space-between; /* Espacement entre les éléments */
    text-align: center; /* Centrer le texte */
}

.service-item {
    background-color: #fff; /* Couleur de fond pour chaque service */
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet de profondeur */
    width: 30%; /* Largeur de chaque service */
    opacity: 0; /* Initialement invisible */
    transform: translateY(20px); /* Déplacement initial */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transition pour l'effet de défilement */
}

/* Effet de défilement */
.service-item.visible {
    opacity: 1; /* Rendre visible */
    transform: translateY(0); /* Réinitialiser le déplacement */
}

/* Section Télécharger CV */
#cv {
    background-color: #cccccc;
    color: #333;
    padding: 50px 0;
    text-align: center;
}

#cv h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

#cv .btn {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#cv .btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Section Contact */
#contact {
    background-color: #cccccc;
    color: #333;
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.social-links a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #007BFF;
    transform: scale(1.2);
}

form .form-group {
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

form .form-group.visible {
    opacity: 1;
    transform: translateY(0);
}

form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form .form-group input,
form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 500px;
    font-size: 16px;
    box-sizing: border-box;
}

form .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: floralwhite;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form .btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
/* Animation fade-in */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Bouton Retour en haut */
#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#topBtn:hover {
    background-color: #555;
    transform: scale(1.2);
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul li {
        margin: 5px 0;
    }
}